body {
    background-color: #dedede;
}

h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 32px;
}

a {
    color: #000;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

p {
   font-size: 25px;
   font-family: Arial, sans-serif;
   text-align: center; /* This was moved from a separate p selector */
}

img {
  width: 100%; /* This was causing issues with specific div img rules, consider if it's needed globally */
}


div img {
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
}

div {
  display: inline-block;
  width: 24%;
  margin: 5px;
  padding: 2px;
}

/* Tablet View: Media Query for 772px and up */
@media (min-width: 772px) {
    div {
        width: 45vw; /* divs are 45% of viewport width */
        display: inline-block; /* Ensure they appear next to each other */
    }

    div img {
        max-height: 30vh; /* images are no more 30% of viewport height */
        width: auto; /* Allow image width to adjust proportionally */
        height: auto; /* Allow image height to adjust proportionally */
    }
}

/* Large Screen View: Media Query for 998px and up */
@media (min-width: 998px) {
    div {
        width: 30vw; /* divs are 30% of viewport width */
    }
}

